[submodule "packages/aws2-wrap"]
	path = packages/aws2-wrap
	url = aur@aur.archlinux.org:aws2-wrap
[submodule "packages/kubeflow-kfctl-bin"]
	path = packages/kubeflow-kfctl-bin
	url = aur@aur.archlinux.org:kubeflow-kfctl-bin
[submodule "packages/mage-bin"]
	path = packages/mage-bin
	url = aur@aur.archlinux.org:mage-bin
[submodule "packages/openshift-client-bin"]
	path = packages/openshift-client-bin
	url = aur@aur.archlinux.org:openshift-client-bin
[submodule "packages/operator-registry-opm-bin"]
	path = packages/operator-registry-opm-bin
	url = aur@aur.archlinux.org:operator-registry-opm-bin
[submodule "packages/wormhole-gui-bin"]
	path = packages/wormhole-gui-bin
	url = aur@aur.archlinux.org:wormhole-gui-bin
[submodule "packages/aquayman-bin"]
	path = packages/aquayman-bin
	url = aur@aur.archlinux.org:aquayman-bin
